<section class="business-talking"><!--business-talking-start-->
	<div class="container">
        <h2>Vamos falar de negócio.</h2>
    </div>
</section><!--business-talking-end-->
<div class="container">
<section class="main-section contact" id="contact">

        <div class="row">
        	<div class="col-lg-6 col-sm-7 wow fadeInLeft">
            	<div class="contact-info-box address clearfix">
                	<h3><i class=" icon-map-marker"></i>Endereço:</h3>
                	<span>Av Anita Garibaldi, 305 - São José<br>Fraiburgo, Santa Catarina, 89580-000.</span>
                </div>
                <div class="contact-info-box phone clearfix">
                	<h3><i class="fa fa-phone"></i>Telefone:</h3>
                	<span>49 3246-2961</span>
                </div>
                <div class="contact-info-box email clearfix">
                	<h3><i class="fa fa-pencil"></i>email:</h3>
                	<span>contato@deonline.net.br</span>
                </div>
            	<div class="contact-info-box hours clearfix">
                	<h3><i class="fa fa-clock-o"></i>Horário:</h3>
                	<span><strong>Segunda  - Sexta:</strong> 08:30 - 18:30<br><strong>Sábado:</strong> 08:30 - 12:00</span>
                </div>
                <ul class="social-link">
                    <li class="facebook"><a href="https://www.facebook.com/deonlineinformatica"><i class="fa fa-facebook"></i></a></li>
                  
                </ul>
            </div>
        	<div class="col-lg-6 col-sm-5 wow fadeInUp delay-05s">
            	<div class="form">

                <div id="sendmessage">Sua mensagem foi enviada. Obrigado!</div>
                <div id="errormessage"></div>
                <form action="" method="post" role="form" class="contactForm">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control input-text" id="name" placeholder="Seu nome" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                        <div class="validação"></div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control input-text" name="email" id="email" placeholder="Seu Email" data-rule="email" data-msg="Please enter a valid email" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-text" name="subject" id="subject" placeholder="Assunto" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                        <div class="validação"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control input-text text-area" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Mensagem"></textarea>
                        <div class="validação"></div>
                    </div>

                    <div class="text-center"><button type="submit" class="input-btn">Enviar Mensagem</button></div>
                </form>
              </div>
            </div>
        </div>
</section>
</div>
