<section class="main-section team" id="team"><!--main-section team-start-->
	<div class="container">
        <h2>Equipe</h2>
        <h6>Olhe mais perto para a sua incrível equipe.</h6>
        <div class="team-leader-block clearfix">
            <div class="team-leader-box">
                <div class="team-leader wow fadeInDown delay-03s">
                    <div class="team-leader-shadow"><a href="#"></a></div>
                    <%= image_tag 'team-leader-pic1.jpg' %>
                    <ul>
                        
                        <li><a href="https://www.facebook.com/DeonMaicon" class="fa fa-facebook"></a></li>
                        
                    </ul>
                </div>
                <h3 class="wow fadeInDown delay-03s">Maicon Deon</h3>
                <span class="wow fadeInDown delay-03s">Sócio Administrador</span>
                <p class="wow fadeInDown delay-03s">Analista de Hardware e Graduado em Administração de Empresas.</p>
            </div>
            <div class="team-leader-box">
                <div class="team-leader  wow fadeInDown delay-06s">
                    <div class="team-leader-shadow"><a href="#"></a></div>
                    <%= image_tag 'team-leader-pic2.jpg' %>
                    <ul>
                        
                        <li><a href="https://www.facebook.com/william.deon.3?ref=br_rs" class="fa fa-facebook"></a></li>
                        
                    </ul>
                </div>
                <h3 class="wow fadeInDown delay-06s">William Deon</h3>
                <span class="wow fadeInDown delay-06s">Sócio Gerente</span>
                <p class="wow fadeInDown delay-06s">.</p>
            </div>
            <div class="team-leader-box">
                
        </div>
    </div>
</section><!--main-section team-end-->
