<section class="main-section" id="service"><!--main-section-start-->
	<div class="container">
    	<h2>Sobre a Deonline</h2>
    	<h6><p>Fundada em 2017 pelos irmãos Maicon e William Deon, a Deonline Soluções em Informáica, situada no município de Fraiburgo, é uma empresa do ramo de Tecnologia da Informação, a qual promove as mais qualificadas soluções para o amplo mercado tecnolóico, prestando serviços e vendendo produtos de informática.</p><br><br>
        <p> Espírito empreendedor é a marca registrada da famí­lia Deon, que já atende Fraiburgo e Região em outros ramos de atividades, e, para dar continuidade no empreendedorismo familiar os irmãos resolveram unir o conhecimento de Maicon na área tecnológica e o de William na área administrativa surgindo assim a Deonline Soluções em Informática.</p><br><br>
        <p> Apostam em diferenciais e qualidade nos serviços prestados para conquistar o mercado, atendendo em horários diferenciados inclusive aos finais de semana, possibilitam a locação de equipamentos e se comprometem com a clientela de sempre manter seu portfólio atualizado seja em conhecimento, produtos e serviços prestados.</p></h6>
        
    
    </div>
    
    
        
        
                </div>
            </div>
            

        </div>
	</div>
</section><!--main-section-end-->
