<section class="main-section" id="service"><!--main-section-start-->
	<div class="container">
    	<h2>Missão</h2>
    	<h6>Fornecer soluções inovadoras para pessoas Físicas e Jurídicas na área de TI, sempre com excelência na qualidade dos produtos e serviços prestados, comprometendo-se em auxiliar na resolução das necessidades dos clientes, superando suas expectativas.</h6>
        <div class="row">
        	<div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
            	<div class="service-list">
                	<div class="service-list-col1">
                    	<i class="fa fa-paw"></i>
                    </div>
                	<div class="service-list-col2">
                        <h3>Velocidade no Atendimento</h3>
                        <p>Proin iaculis purus digni consequat sem digni ssim. Donec entum digni ssim.</p>
                    </div>
                </div>
                <div class="service-list">
                	<div class="service-list-col1">
                    	<i class="fa fa-gear"></i>
                    </div>
                	<div class="service-list-col2">
                        <h3>web development</h3>
                        <p>Proin iaculis purus consequat sem digni ssim. Digni ssim porttitora .</p>
                    </div>
                </div>
                <div class="service-list">
                	<div class="service-list-col1">
                    	<i class="fa fa-apple"></i>
                    </div>
                	<div class="service-list-col2">
                        <h3>mobile design</h3>
                        <p>Proin iaculis purus consequat digni sem digni ssim. Purus donec porttitora entum.</p>
                    </div>
                </div>
                <div class="service-list">
                	<div class="service-list-col1">
                    	<i class="fa fa-medkit"></i>
                    </div>
                	<div class="service-list-col2">
                        <h3>24/7 Support</h3>
                        <p>Proin iaculis purus consequat sem digni ssim. Sem porttitora entum.</p>
                    </div>
                </div>
            </div>
            <figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
            	<%= image_tag 'macbook-pro.png' %>
            </figure>

        </div>
	</div>
</section><!--main-section-end-->
