<section class="main-section alabaster"><!--main-section alabaster-start-->
	<div class="container">
    	<div class="row">
			<figure class="col-lg-5 col-sm-4 wow fadeInLeft">
        <%= image_tag 'iphone.png' %>
      </figure>
        	<div class="col-lg-7 col-sm-8 featured-work">
            	<h2>Nossos Serviços</h2>
            	<P class="padding-b">

<p>A Deonline possui o diferencial de atuar de forma consultiva agregando valores através de uma equipe de profissionais altamente treinados, certificados e sempre atentos às novas tendências do mercado. A Deonline oferece uma gama de serviços completos para que seu computador ou sua empresa nunca parem de funcionar e produzam cada vez mais.</p><br> <p>A empresa presta os seguintes serviços de informática:</p><br>
<div class="left lista_servicos">
    
      <ul>
        <li>Suporte e Consultoria em TI</li>
        <li>Suporte de Informática</li>
        <li>Terceirização em Informática</li>
        <li>Instalação, Configuração e Monitoramento de Redes</li>
      </ul>
    
    </div>
    
    <div class="right lista_servicos">
    
      <ul>
        <li>Manutenção Especializada em Notebooks, microcomputadores, impressoras</li>
        <li>Locação de Impressoras</li>
        <li>Locação de Equipamentos</li>
        <li>CFTV (Monitoramento de imagens)</li>
      </ul>
    
    </div>
    
    </div>
    
        </div>
	</div>
</section><!--main-section alabaster-end-->
