<div class="container">

  <!-- Page Heading/Breadcrumbs -->
   <a href="http://localhost:3000/pages/about" target="_blank">Sobre </a> 

  <h1 class="mt-4 mb-3">Sobre a Deonline
    
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="index.html">Home</a>
    </li>
    <li class="breadcrumb-item active">Sobre a Deonline</li>
  </ol>

  <!-- Intro Content -->
  <div class="row">
    <div class="col-lg-6">
      <img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
    </div>
    <div class="col-lg-6">
      
      <p> Fundada em 2017 pelos irmãos Maicon e William Deon, a Deonline Soluções em Informática, situada no município de Fraiburgo, é uma empresa do ramo de Tecnologia da Informação, a qual promove as mais qualificadas soluções para o amplo mercado tecnológico, prestando serviços e vendendo produtos de informática.</p>
      <p> Espírito empreendedor é a marca registrada da família Deon, que já atende Fraiburgo e Região em outros ramos de atividades, e, para dar continuidade no empreendedorismo familiar os irmãos resolveram unir o conhecimento de Maicon na área tecnologica e o de William na área administrativa surgindo assim a Deonline Soluções em Informática.</p>
      <p> Apostam em diferenciais e qualidade nos serviços prestados para conquistar o mercado, atendendo em horários diferenciados inclusive aos finais de semana, possibilitam a locação de equipamentos e se comprometem com a clientela de sempre manter seu portfólio atualizado seja em conhecimento, produtos e serviços prestados.</p>
              
    </div>
  </div>
  <!-- /.row -->

  <!-- Team Members -->
  <h2>Our Team</h2>

  <div class="row">
    <div class="col-lg-4 mb-4">
      <div class="card h-100 text-center">
        <img class="card-img-top" src="http://placehold.it/750x450" alt="">
        <div class="card-body">
          <h4 class="card-title">Team Member</h4>
          <h6 class="card-subtitle mb-2 text-muted">Position</h6>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
        </div>
        <div class="card-footer">
          <a href="#">name@example.com</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100 text-center">
        <img class="card-img-top" src="http://placehold.it/750x450" alt="">
        <div class="card-body">
          <h4 class="card-title">Team Member</h4>
          <h6 class="card-subtitle mb-2 text-muted">Position</h6>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
        </div>
        <div class="card-footer">
          <a href="#">name@example.com</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
      <div class="card h-100 text-center">
        <img class="card-img-top" src="http://placehold.it/750x450" alt="">
        <div class="card-body">
          <h4 class="card-title">Team Member</h4>
          <h6 class="card-subtitle mb-2 text-muted">Position</h6>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
        </div>
        <div class="card-footer">
          <a href="#">name@example.com</a>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <!-- Our Customers -->
  <h2>Our Customers</h2>
  <div class="row">
    <div class="col-lg-2 col-sm-4 mb-4">
      <img class="img-fluid" src="http://placehold.it/500x300" alt="">
    </div>
    <div class="col-lg-2 col-sm-4 mb-4">
      <img class="img-fluid" src="http://placehold.it/500x300" alt="">
    </div>
    <div class="col-lg-2 col-sm-4 mb-4">
      <img class="img-fluid" src="http://placehold.it/500x300" alt="">
    </div>
    <div class="col-lg-2 col-sm-4 mb-4">
      <img class="img-fluid" src="http://placehold.it/500x300" alt="">
    </div>
    <div class="col-lg-2 col-sm-4 mb-4">
      <img class="img-fluid" src="http://placehold.it/500x300" alt="">
    </div>
    <div class="col-lg-2 col-sm-4 mb-4">
      <img class="img-fluid" src="http://placehold.it/500x300" alt="">
    </div>
  </div>
  <!-- /.row -->

</div>
