<div class="container">

  <div class="card border-dark mt-4">

    <div class="card-header">
      <h4>Nossos Serviços</h4>
    </div>

    <div class="card-body">
      <div class="row">

        <div class="col-md-8">
          <ul class="list-group">
            <li class="list-group-item list-group-item-info">A empresa presta os seguintes serviços de informática:</li>
            <li class="list-group-item">Suporte e Consultoria em TI</li>
            <li class="list-group-item">Suporte de Informática</li>
            <li class="list-group-item">Terceirização em Informática</li>
            <li class="list-group-item">Instalação, Configuração e Monitoramento de Redes</li>
            <li class="list-group-item">Manutenção Especializada em Notebooks, microcomputadores, impressoras</li>
            <li class="list-group-item">Locação de Impressoras</li>
            <li class="list-group-item">Locação de Equipamentos</li>
            <li class="list-group-item">CFTV (Monitoramento de imagens)</li>
          </ul>
        </div>

        <div class="col-md-4 d-flex align-items-center">
          <%= image_tag 'servicos', class: 'img-fluid rounded border border-dark' %>
        </div>
      </div>
    </div>

  </div>
</div>
