<div class="container">

  <div class="card border border-info text-white bg-dark mt-4">

    <div class="card-header">
      <h4>Nossos Serviços</h4>
    </div>

    <div class="card-body">
      <div class="row">

        <div class="col-md-8">
          <ul class="list-group">
            <li class="list-group-item text-white bg-dark border-info">Suporte e Consultoria em TI</li>
            <li class="list-group-item text-white bg-dark border-info">Suporte de Informática</li>
            <li class="list-group-item text-white bg-dark border-info">Terceirização em Informática</li>
            <li class="list-group-item text-white bg-dark border-info">Instalação, Configuração e Monitoramento de Redes</li>
            <li class="list-group-item text-white bg-dark border-info">Manutenção Especializada em Notebooks, microcomputadores, impressoras</li>
            <li class="list-group-item text-white bg-dark border-info">Locação de Impressoras</li>
            <li class="list-group-item text-white bg-dark border-info">Locação de Equipamentos</li>
            <li class="list-group-item text-white bg-dark border-info">CFTV (Monitoramento de imagens)</li>
          </ul>
        </div>

        <div class="col-md-4 d-flex align-items-center">
          <%= image_tag 'servicos.jpg', class: 'img-fluid rounded  border border-info' %>
        </div>
      </div>
    </div>

  </div>
</div>
