
    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">Nossos Serviços</h1>

      <br>

      <!-- Image Header -->
      <img class="img-fluid rounded mb-4 src="servicos.jpg" >


      <!-- Marketing Icons Section -->
      <p>A empresa presta os seguintes serviços de informática:</p>
       <div class="left lista_servicos">
    
      <ul>
        <li>Suporte e Consultoria em TI</li>
        <li>Suporte de Informática</li>
        <li>Terceirização em Informática</li>
        <li>Instalação, Configuração e Monitoramento de Redes</li>
      </ul>
    
    </div>
    
    <div class="right lista_servicos">
    
      <ul>
        <li>Manutenção Especializada em Notebooks, microcomputadores, impressoras</li>
        <li>Locação de Impressoras</li>
        <li>Locação de Equipamentos</li>
        <li>CFTV (Monitoramento de imagens)</li>
      </ul>
    
    </div>
    </div>
   