<div class="container">

  <div class="card border-dark mt-4 mb-3">

    <div class="card-header">
      <h4>Quem Somos</h4>
    </div>

    <div class="card-body">

      <div class="card-group">
        <div class="card border-light">
          <p>Fundada em 2017 pelos irmãos Maicon e William Deon, a Deonline Soluções em Informática, situada no município de Fraiburgo, é uma empresa do ramo de Tecnologia da Informação, a qual promove as mais qualificadas soluções para o amplo mercado tecnológico, prestando serviços e vendendo produtos de informática.</p>
          <p>Espírito empreendedor é a marca registrada da família Deon, que já atende Fraiburgo e Região em outros ramos de atividades, e, para dar continuidade no empreendedorismo familiar os irmãos resolveram unir o conhecimento de Maicon na área tecnologica e o de William na área administrativa surgindo assim a Deonline Soluções em Informática.</p>
          <p>Apostam em diferenciais e qualidade nos serviços prestados para conquistar o mercado, atendendo em horários diferenciados inclusive aos finais de semana, possibilitam a locação de equipamentos e se comprometem com a clientela de sempre manter seu portfólio atualizado seja em conhecimento, produtos e serviços prestados.</p>
        </div>
      </div>

    </div>

  </div>

  <!-- Team Members -->
  <div class="card border-dark mt-4 mb-3">

    <div class="card-header">
      <h4>Nossa Equipe</h4>
    </div>

    <div class="card-body">

      <div class="card-group">
        <div class="card border-light text-center">
          <div class="card-body">
            <%= image_tag 'team-leader-pic1.jpg', class: 'rounded', height: 250 %>
            <div class="rank-label-container">
              <span class="label label-default rank-label">Maicon Deon</span>
            </div>
            <hr>
            <h6 class="text-muted">Sócio Administrador<br>Analista de Hardware e Graduando em Administração de Empresas</h6>
          </div>
        </div>
        <div class="card border-light text-center">
          <div class="card-body">
            <%= image_tag 'team-leader-pic2.jpg', class: 'rounded', height: 250 %>
            <div class="rank-label-container">
              <span class="label label-default rank-label">William Deon</span>
            </div>
            <hr>
            <h6 class="text-muted">Socio Gerente</h6>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
