@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

div.carousel-inner .carousel-item:nth-child(1) {
  background-image: image-url('produtos/banner1.jpg');
}

div.carousel-inner .carousel-item:nth-child(2) {
  background-image: image-url('produtos/banner2.jpg');
}

div.carousel-inner .carousel-item:nth-child(3) {
  background-image: image-url('produtos/banner3.jpg');
}
