@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

body {
  font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  background-color: whitesmoke;
}
.carousel-inner .carousel-item:nth-child(1) {
  background-image: image-url('produtos/banner1.jpg');
}

.carousel-inner .carousel-item:nth-child(2) {
  background-image: image-url('produtos/banner2.jpg');
}

.carousel-inner .carousel-item:nth-child(3) {
  background-image: image-url('produtos/banner3.jpg');
}
