<div class="container mt-3">
  <div class="card border-dark">
    <div class="card-header">
      <h4 class="card-title">
        Alterando o produto
      </h4>
    </div>
    <div class="card-body">
      <%= render 'form', product: @product %>
    </div>
    <div class="card-footer">
      <%= link_to 'Detalhes', @product %>
      <%= link_to 'Voltar', products_path %>
    </div>
  </div>
</div>
