<header class="header" id="header"><!--header-start-->
	<div class="container">
    	<figure class="logo animated fadeInDown delay-07s">
        	<a href="#"><%= image_tag 'logo' %></a>
        </figure>
        <h1 class="animated fadeInDown delay-07s"></h1>
        <ul class="we-create animated fadeInUp delay-1s">
        	<li>Deixe que a tecnologia trabalhe por você!</li>
        </ul>
            <a class="link animated fadeInUp delay-1s servicelink" href="#service">Iniciar</a>
    </div>
</header><!--header-end-->

<nav class="main-nav-outer" id="test"><!--main-nav-start-->
	<div class="container">
        <ul class="main-nav">
        	<li><a href="#header">Home</a></li>
            <li><a href="#service">Serviços</a></li>
            <li><a href="#Portfolio">Portfólio</a></li>
            <li class="small-logo"><a href="#header"><%= image_tag 'small-logo' %></a></li>
            <li><a href="#client">Clientes</a></li>
            <li><a href="#team">Equipe</a></li>
            <li><a href="#contact">Contato</a></li>
        </ul>
        <a class="res-nav_click" href="#"><i class="fa fa-bars"></i></a>
    </div>
</nav><!--main-nav-end-->
