<%# add navigation links to this file %>
<li class='nav-item'><%= link_to 'Quem Somos', page_path('sobre'), class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Serviços', page_path('servico'), class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Produtos', products_path, class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Contato', page_path('contato'), class: 'nav-link' %></li>

